@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";
@import "normalize.css/normalize.css";

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Helvetica;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

@import './App/style.scss';
@import './App/Components/Panel/style.scss';
@import './App/Components/SideBar/style.scss';
