.panel {
    min-width: 200px;
    position: absolute;
    border-radius: 2px;
    min-height: 200px;
    border: 1px solid #000;
    background-color: #333;
}

.panel__title {
    font-size: 12px;
    line-height: 20px;
    padding: 4px;
    min-height: 20px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #333 50%);
    margin: 0;
    border-bottom: 1px solid #cacaca;
    color: #FFF;
}
